name: Opstella Before Gate Terraform pipeline
on:
  workflow_call:
    inputs:
      trivy_iac_report_filename:
        description: "The filename for the Trivy IaC report"
        required: false
        default: "trivy-iac-report.json"
        type: string
      terraform_plan_output_filename:
        description: "The filename for the Terraform plan output"
        required: false
        default: "terraform-plan-output"
        type: string
      report_retention_days:
        description: "Number of days to retain the reports"
        required: false
        default: 7
        type: number
env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache
jobs:
  # Step1 : Terraform Format Check
  terraform-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - &create-plugin-cache-dir
        name: Create Plugin Cache Dir
        run: mkdir -p $TF_PLUGIN_CACHE_DIR

      - &restore-cache-terraform-providers
        name: Restore Terraform Cache
        id: restore-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-${{ hashFiles('terraform/.terraform.lock.hcl') }}
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: |
          terraform -chdir=terraform init -input=false

      - name: Terraform Format Check
        id: fmt
        run: |
          terraform -chdir=terraform fmt -recursive

      - &save-cache-terraform-providers
        name: Save Terraform Cache
        if: steps.restore-cache.outputs.cache-hit != 'true' && github.ref == 'refs/heads/main'
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}

  # Step2 : Terraform validate
  terraform-validate:
    runs-on: ubuntu-latest
    needs: terraform-format
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - *create-plugin-cache-dir

      - *restore-cache-terraform-providers

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      - name: Terraform Init (Link Plugins)
        run: terraform -chdir=terraform init -input=false
      - name: Terraform Validate
        run: |
          terraform -chdir=terraform validate

      - *save-cache-terraform-providers

      - name: List files
        run: ls -R terraform

  # Step3 : TF Lint
  terraform-lint:
    runs-on: ubuntu-latest
    needs: terraform-validate
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - *restore-cache-terraform-providers
      - name: Install tflint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

      - name: Run tflint
        run: |
          cd terraform
          tflint --init
          tflint
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - *save-cache-terraform-providers

      - name: List files
        run: ls -R terraform

  # Step4 : Trivy IaC Scan
  Trivy-IAC-scan:
    runs-on: ubuntu-latest
    needs: terraform-lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4

      # - name: Generate Kubernetes Manifest files with Helm Template
      #   if: "${{ inputs.helm_values_file != '' }}"
      #   run: |
      #     helm template -f ${{ inputs.helm_values_file }} --namespace not-default \
      #       ${{ inputs.sourcecode_repo }}-${{ inputs.deploy_env }} \
      #       ${{ inputs.helm_chart_name }} --version ${{ inputs.helm_chart_version }} \
      #       > ${{ inputs.sourcecode_repo }}-manifest.yaml

      - name: Generate Trivy IaC Vulnerability Report
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: .
          scanners: "misconfig,secret"
          format: json
          # trivyignores: .trivyignore
          output:
            ${{ inputs.trivy_iac_report_filename }}

            # ${{ inputs.sourcecode_repo }}-manifest.yaml
      - name: Upload Trivy IaC Report
        uses: actions/upload-artifact@v6
        with:
          name: trivy-iac-report
          path: |
            ${{ inputs.trivy_iac_report_filename }}
          retention-days: ${{ inputs.report_retention_days }}

  # Step5 : Terraform Plan
  Terraform-plan:
    runs-on: ubuntu-latest
    needs: Trivy-IAC-scan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - *create-plugin-cache-dir

      - *restore-cache-terraform-providers

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init (Link Plugins)
        run: terraform -chdir=terraform init -input=false

      - name: Terraform Plan
        run: terraform -chdir=terraform plan -out=tfplan.binary
      - name: Terraform form Plan Output
        run: |
          terraform -chdir=terraform show -json tfplan.binary > "${{ inputs.terraform_plan_output_filename }}.json"

      - name: Upload Terraform Plan Output
        uses: actions/upload-artifact@v6
        with:
          name: terraform-plan-output
          path: "${{ inputs.terraform_plan_output_filename }}.json"
          retention-days: ${{ inputs.report_retention_days }}

      - *save-cache-terraform-providers

  wait-for-approval:
    runs-on: ubuntu-latest
    needs: Terraform-plan
    steps:
      - name: Wait for PR Approval
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          echo "Waiting for an 'APPROVED' review on PR #$PR_NUMBER..."

          while true; do
            # Get the list of reviews and check for 'APPROVED'
            APPROVAL_STATUS=$(gh api repos/${{ github.repository }}/pulls/$PR_NUMBER/reviews \
              --jq '. | map(select(.state == "APPROVED")) | length')

            if [ "$APPROVAL_STATUS" -gt 0 ]; then
              echo "PR has been approved! Proceeding to CD..."
              break
            fi

            echo "Still waiting for approval... (checking again in 20s)"
            sleep 20
          done

  terraform-apply:
    runs-on: ubuntu-latest
    needs: wait-for-approval
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: |
          terraform -chdir=terraform init

      - name: Terraform Apply
        run: |
          terraform -chdir=terraform apply -auto-approve
