name: Opstella Terraform Pipeline Caller
on:
  repository_dispatch:
    types: [before-approve]

jobs:
  before-gate-pipeline:
    uses: ./.github/workflows/before-gate.yml
    secrets: inherit

  # gate-approval-pipeline:
  #   uses: ./.github/workflows/gate-approval.yml
  #   needs: before-gate-pipeline
  #   secrets: inherit

  # after-gate-pipeline:
  #   uses: ./.github/workflows/after-gate.yml
  #   needs: gate-approval-pipeline
  #   secrets: inherit
