name: Opstella Terraform Pipeline Caller
on:
  push:
    branches:
      - main

jobs:
  before-gate-pipeline:
    uses: ./.github/workflows/before-gate.yml
    secrets: inherit

  gate-approval-pipeline:
    uses: ./.github/workflows/gate-approval.yml
    needs: before-gate-pipeline
    with:
      api_endpoint: ${{ secrets.GATE_APPROVAL_API_ENDPOINT }}
    secrets: inherit

  after-gate-pipeline:
    uses: ./.github/workflows/after-gate.yml
    needs: gate-approval-pipeline
    secrets: inherit
