name: Opstella Before Gate Terraform pipeline
on:
  workflow_call:
    inputs:
      trivy_iac_report_filename:
        description: "The filename for the Trivy IaC report"
        required: false
        default: "trivy-iac-report.json"
        type: string
      terraform_plan_output_filename:
        description: "The filename for the Terraform plan output"
        required: false
        default: "terraform-plan-output"
        type: string
      report_retention_days:
        description: "Number of days to retain the reports"
        required: false
        default: 7
        type: number

      terraform_directory:
        description: "Directory containing Terraform configuration"
        required: false
        default: "terraform"
        type: string
      allow_failed_security_gate:
        description: "Allow pipeline to continue even if security gate fails"
        required: false
        default: false
        type: boolean
env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache
jobs:
  # Step1 : Terraform Format Check
  terraform-format:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && always()}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - &create-plugin-cache-dir
        name: Create Plugin Cache Dir
        run: mkdir -p $TF_PLUGIN_CACHE_DIR

      - &restore-cache-terraform-providers
        name: Restore Terraform Cache
        id: restore-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-${{ hashFiles('terraform/.terraform.lock.hcl') }}
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: |
          terraform -chdir=${{ inputs.terraform_directory }} init -input=false

      - name: Terraform Format Check
        id: fmt
        run: |
          terraform -chdir=${{ inputs.terraform_directory }} fmt -recursive

      - &save-cache-terraform-providers
        name: Save Terraform Cache
        if: steps.restore-cache.outputs.cache-hit != 'true' && github.ref == 'refs/heads/main'
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}

  # Step2 : Terraform validate
  terraform-validate:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && always() && needs.terraform-format.result == 'success'}}
    needs: terraform-format
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - *create-plugin-cache-dir

      - *restore-cache-terraform-providers

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      - name: Terraform Init (Link Plugins)
        run: terraform -chdir=${{ inputs.terraform_directory }} init -input=false
      - name: Terraform Validate
        run: |
          terraform -chdir=${{ inputs.terraform_directory }} validate || (echo "Error: Terraform validation failed." && exit 1)

      - *save-cache-terraform-providers

      - name: List files
        run: ls -R ${{ inputs.terraform_directory }}

  # Step3 : TF Lint
  terraform-lint:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && always() && needs.terraform-validate.result == 'success'}}
    needs: terraform-validate
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - *restore-cache-terraform-providers
      - name: Install tflint
        run: |
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

      - name: Run tflint
        run: |
          cd ${{ inputs.terraform_directory }}
          tflint --init
          tflint -f compact || (echo "Error: TFLint found issues." && exit 1)
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - *save-cache-terraform-providers

      - name: List files
        run: ls -R ${{ inputs.terraform_directory }}
  # Step4 : Trivy IaC Scan
  Trivy-IAC-scan:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && always() && needs.terraform-lint.result == 'success'}}
    needs: terraform-lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Generate Trivy IaC Vulnerability Report
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: .
          scanners: "misconfig,secret"
          format: json
          # trivyignores: .trivyignore
          output: ${{ inputs.trivy_iac_report_filename }}
          exit-code: ${{ inputs.allow_failed_security_gate == true && '0' || '1' }}
          severity:
            "HIGH,CRITICAL"

            # ${{ inputs.sourcecode_repo }}-manifest.yaml
      - name: Upload Trivy IaC Report
        uses: actions/upload-artifact@v6
        with:
          name: trivy-iac-report
          path: |
            ${{ inputs.trivy_iac_report_filename }}
          retention-days: ${{ inputs.report_retention_days }}

  # Step5 : Terraform Plan
  Terraform-plan:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && always() && needs.Trivy-IAC-scan.result == 'success'}}
    needs: Trivy-IAC-scan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - *create-plugin-cache-dir

      - *restore-cache-terraform-providers

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init (Link Plugins)
        run: terraform -chdir=${{ inputs.terraform_directory }} init -input=false

      - name: Terraform Plan
        run: terraform -chdir=${{ inputs.terraform_directory }} plan -out=tfplan.binary || exit 1
      - name: Terraform form Plan Output
        run: |
          terraform -chdir=${{ inputs.terraform_directory }} show -json tfplan.binary > "${{ inputs.terraform_plan_output_filename }}.json"

      - name: Upload Terraform Plan Output
        uses: actions/upload-artifact@v6
        with:
          name: terraform-plan-output
          path: "${{ inputs.terraform_plan_output_filename }}.json"
          retention-days: ${{ inputs.report_retention_days }}

      - *save-cache-terraform-providers

  wait-for-approval:
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && always() && needs.Terraform-plan.result == 'success'}}
    needs: Terraform-plan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check if artifact exists
        run: |
          echo "Checking for Terraform plan artifact..."
          gh run download ${{ github.run_id }} --name terraform-plan-output --dir ./artifact || { echo "Artifact not found! Exiting..."; exit 1; }
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Wait for PR Approval
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          echo "Waiting for the 'deploy-to-cd' label on PR #$PR_NUMBER..."

          gh pr edit $PR_NUMBER --add-label "waiting-for-approval"

          MAX_RETRIES=20
          RETRY_COUNT=0
          INTERVAL=20

          until [ $RETRY_COUNT -ge $MAX_RETRIES ]; do 
            # Check if the PR has the specific label
            HAS_LABEL=$(gh pr view $PR_NUMBER --json labels --jq '.labels[] | select(.name == "deploy-to-cd") | .name')

            if [ "$HAS_LABEL" == "deploy-to-cd" ]; then
              echo "Label detected! Starting CD..."
              gh pr edit $PR_NUMBER --remove-label "deploy-to-cd"
              break
            fi

            echo "Still waiting for label... (checking again in 20s)"
            sleep $INTERVAL
          done
          gh pr edit $PR_NUMBER --remove-label "waiting-for-approval"

  terraform-apply:
    runs-on: ubuntu-latest
    if: ${{ success() }}
    needs: wait-for-approval
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: |
          terraform -chdir=${{ inputs.terraform_directory }} init

      - name: Terraform Apply
        run: |
          terraform -chdir=${{ inputs.terraform_directory }} apply -auto-approve
      - name: Close PR via CLI
        run: gh pr close ${{ github.event.pull_request.number }} --comment "Finished applying Terraform changes. Closing the PR."
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
