name: Opstella Terraform Pipeline Caller #
on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
jobs:
  check-secret-and-variables:
    runs-on: ubuntu-latest
    steps:
      - name: Check if GH_TOKEN secret working
        run: |
          if [ -z "${{ secrets.GH_TOKEN }}" ]; then
            echo "Error: GH_TOKEN secret is not set. Exiting..."
            exit 1
          else
            echo "GH_TOKEN secret is set."
          fi
  pipeline:
    uses: ./.github/workflows/pipeline.yml
    needs: check-secret-and-variables
    secrets: inherit
    permissions:
      issues: write
      contents: read
