name: Opstella Terraform Pipeline Caller
on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  repository_dispatch:
    types: [before-approve]
jobs:
  pipeline:
    uses: ./.github/workflows/pipeline.yml
    secrets: inherit
    permissions:
      issues: write
      contents: read
