name: Opstella Terraform Pipeline Caller
on:
  workflow_dispatch:

  push:
    branches:
      - two_workflow
jobs:
  pipeline:
    uses: ./.github/workflows/pipeline.yml
    secrets: inherit
    permissions:
      issues: write
      contents: read
