name: Opstella Terraform Pipeline Caller #
on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
jobs:
  pipeline:
    uses: ./.github/workflows/pipeline.yml
    secrets: inherit
    permissions:
      issues: write
      contents: read
