name: Opstella Terraform Pipeline Caller #
on:
  repository_dispatch:
    types: [before-approve]

jobs:
  pipeline:
    uses: ./.github/workflows/pipeline.yml
    secrets: inherit
    permissions:
      issues: write
      contents: read
